{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="form-group">
            <form action="/validate_password" method="POST">
                {{ form.hidden_tag() }}
                {{ form.password.label }}<br/>{{ form.password }}<br/>
                {{ form.submit }}
            </form>
        </div><br/><br/>
        {% if validation_result %}
            <div class="alert alert-{{ 'success' if 'Valid' in validation_result else 'danger' }}">
                {{ validation_result }}
            </div>
        {% endif %}
    </div>
{% endblock %}