{% extends "base.html" %}
{% block title %}Q11{% endblock %}
{% block content %}
{% if error %}
<font color="red"> <center><h4><p class="">{{ error }}</p></h4></center></font>
{% endif %}
{% if form != Null %}
<div class="form-group">
    <form action="/form2" method="POST">
        {{ form.csrf_token() }}
        {{ form.lat_min.label }} {{ form.lat_min }}<br/>
        {{ form.lon_min.label }} {{ form.lon_min }}<br/>
        {{ form.lat_max.label }} {{ form.lat_max }}<br/>
        {{ form.lon_max.label }} {{ form.lon_max }}<br/>
        {{ form.submit }}
    </form>
</div><br/><br/>
{% endif %}
{% if data == 1 %}
<center>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-fixed table-wrap" style="width:max-content;height: 600px; overflow: scroll;">
            <caption></caption>
            <thead>
            <tr>
                <th scope="col">Time</th>
                <th scope="col">Latitude</th>
                <th scope="col">Longitude</th>
                <th scope="col">Magnitude</th>
                <th scope="col">Net</th>
                <th scope="col">Place</th>
            </tr>
            </thead>
            <tbody>
            {% for quake in earthquakes %}
            <tr>
                <td>{{ quake[0] }}</td>
                <td>{{ quake[1] }}</td>
                <td>{{ quake[2] }}</td>
                <td>{{ quake[3] }}</td>
                <td>{{ quake[4] }}</td>
                <td>{{ quake[5] }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</center>
{% endif %}
{% endblock %}
