{% extends "base.html" %}
{% block title %}Q-4 - Meet{% endblock %}
{% block content %}
{% if error %}
    <font color="red"> <center><h4><p class="">{{ error }}</p></h4></center></font>
{% endif %}
    <div class="form-group">
        <form action="/form4" method="POST">
            <label for="clus">Select Category (Cluster): </label>
            <select name="clus" id="clus">
                <option value="earthquake">Earthquake</option>
                <option value="ice quake">Ice Quake</option>
                <option value="explosion">Explosion</option>
                <option value="quarry blast">Quarry Blast</option>
                <option value="other event">Other Event</option>
            </select><br/>
            <input type="submit" value="Submit"/>
        </form>
    </div>
{% if data == 1 %}
    <p class="">Earthquake records of type: {{ clus }}</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-fixed table-wrap">
            <caption>Earthquake Records</caption>
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Depth</th>
                    <th scope="col">MAG</th>
                    <th scope="col">MAG_Type</th>
                    <th scope="col">NST</th>
                    <th scope="col">GAP</th>
                    <th scope="col">D_min</th>
                    <th scope="col">RMS</th>
                    <th scope="col">NET</th>
                    <th scope="col">ID</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Place</th>
                    <th scope="col">Type</th>
                    <th scope="col">Horizontal_Error</th>
                    <th scope="col">Depth_Error</th>
                    <th scope="col">MAG_Error</th>
                    <th scope="col">MAG_NST</th>
                    <th scope="col">Status</th>
                    <th scope="col">Location_Source</th>
                    <th scope="col">MAG_Source</th>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[11] }}</td>
                        <td>{{ row[12] }}</td>
                        <td>{{ row[13] }}</td>
                        <td>{{ row[14] }}</td>
                        <td>{{ row[15] }}</td>
                        <td>{{ row[16] }}</td>
                        <td>{{ row[17] }}</td>
                        <td>{{ row[18] }}</td>
                        <td>{{ row[19] }}</td>
                        <td>{{ row[20] }}</td>
                        <td>{{ row[21] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}