{% extends "base.html" %}
{% block title %}Q-5 - Meet{% endblock %}
{% block content %}
{% if error %}
    <font color="red"> <center><h4><p class="">{{ error }}</p></h4></center></font>
{% endif %}
{% if data==1 %}
    <p class="">Total records for large earthquake (Mag>4.0) are {{ tot_cnt }}.</p>
    <p class="">Total records for large earthquake (Mag > 4.0) which occur at night are: {{ cnt }}</p>
    <p class="">So, It can be determined that large earthquake (Mag > 4.0) are occur more often at night.</p>
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-fixed table-wrap">
            <caption>Earthquake Records</caption>
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Latitude</th>
                    <th scope="col">Longitude</th>
                    <th scope="col">Depth</th>
                    <th scope="col">MAG</th>
                    <th scope="col">MAG_Type</th>
                    <th scope="col">NST</th>
                    <th scope="col">GAP</th>
                    <th scope="col">D_min</th>
                    <th scope="col">RMS</th>
                    <th scope="col">NET</th>
                    <th scope="col">ID</th>
                    <th scope="col">Updated</th>
                    <th scope="col">Place</th>
                    <th scope="col">Type</th>
                    <th scope="col">Horizontal_Error</th>
                    <th scope="col">Depth_Error</th>
                    <th scope="col">MAG_Error</th>
                    <th scope="col">MAG_NST</th>
                    <th scope="col">Status</th>
                    <th scope="col">Location_Source</th>
                    <th scope="col">MAG_Source</th>
                </tr>
            </thead>
            <tbody>
                {% for row in result %}
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                        <td>{{ row[8] }}</td>
                        <td>{{ row[9] }}</td>
                        <td>{{ row[10] }}</td>
                        <td>{{ row[11] }}</td>
                        <td>{{ row[12] }}</td>
                        <td>{{ row[13] }}</td>
                        <td>{{ row[14] }}</td>
                        <td>{{ row[15] }}</td>
                        <td>{{ row[16] }}</td>
                        <td>{{ row[17] }}</td>
                        <td>{{ row[18] }}</td>
                        <td>{{ row[19] }}</td>
                        <td>{{ row[20] }}</td>
                        <td>{{ row[21] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
{% endblock %}